<!-- <footer style="margin-top:900px ;">
    <p>FOOTER</p>
  </footer> -->
  <footer style="margin-top:-300px ;">
    <div>
        <form class="continer bg-primary p-3 m-2 mb-3">
            
            <span><img src="../assets/assurant-footer-logo.png"  ></span>
            <span><img src="../assets/ssl-logo.jpeg" style="margin-left:1000px;"></span>
            <span><img src="../assets/pci-logo.jpeg"></span>
            <p style="color:white;margin-top: 30px;">@ Assurant Inc All rights Reserved</p>
            <a style="color:white;margin-left: 940px;margin-top:90px;" href="#">Support Details</a>&nbsp;
            <a style="color:white;" href="#">Privacy policy</a>&nbsp;
            <a style="color:white;" href="#">Terms of conditions</a>&nbsp;

        </form>
      
    
    </div>
</footer>