<mat-toolbar style=" background: linear-gradient(to bottom, white,);border:2px solid violet;">
    <mat-toolbar-row  >
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>recent_actors</mat-icon>
        </button> -->
        <!-- <span ><i>WelCome...,</i></span> -->
        <span><img src="../assets/nav-logo.png" ></span>
       <span class="spacer"></span>
       <a mat-button routerLink="/">FAQs</a>
       <a mat-button routerLink="/">Contact</a>
       <a mat-button routerLink="/claimprogress">File Claim</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container-fluid">
    <mat-card class="ms-1 mt-2 mb-0" id="TextCard"><span id="FileCard"></span> File a Claim
    </mat-card>
</div>
<div>
    <mat-card style="height:280px; width:23%;margin:89px 0px 0px 930px;">
        <img src="../assets/shopping.png" style="width:30%;height:90px;">
        <h3 class="mt-0" style="display:inline;">Tharun Macbook</h3><br>
        <h6 style="display:inline;">Macbook pro</h6>
        <p>
            Policy Number<span style="float:right;">0987654321</span>
        </p>
        <p>
            Serial Number<span style="float:right;">12356789</span>
        </p>
        <p>
            Policy start date<span style="float:right;">08/12/2003</span>
        </p>
        <p>
            Policy end date<span style="float:right;">07/19/2022</span>
        </p>
    </mat-card>
</div>
<app-progress class="mt-2 mb-0" #progress (stateChange)="onStateChange($event)">
    <app-progress-step>
        <form style='margin:-362px 0px 0px -245px;width: 740px;' [formGroup]="step1Form">
            <mat-card>
                <h3>Please tell us what happened</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Date of Pruchase</mat-label>
                    <input formControlName="date" [(ngModel)]="date" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width mt-3 mb-3 " appearance="fill">
                    <mat-label>Describe the issue or reason for your request</mat-label>
                    <textarea formControlName="comment" [(ngModel)]="description" style="height:150px ; width: 100%;" matInput #message
                        maxlength="256" placeholder="Ex. I need help with..."></textarea>
                    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="mb-4 mt-3">
                    <mat-label>Select a reason for your claim/request</mat-label>
                    <mat-select placeholder="claim/request" [(ngModel)]="claim" formControlName="claim">
                        <mat-option value="Screen Break">Screen Break</mat-option>
                        <mat-option value="Battery Death">Battery Death</mat-option>
                        <mat-option value="Keypad not working">Keypad not working</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>select claim/request</mat-hint>
                </mat-form-field>
                <div>
                    <mat-checkbox formControlName="checkbox" class="mb-0">I agree to the <a href="#">Terms of Use
                        </a>&nbsp; and acknowledge that I have
                        reviewed the
                        faurd Notice</mat-checkbox>
                </div>
                <button class="mt-5" mat-raised-button color="primary" routerLink="/fileclaim">Back</button>
                <button style="margin:10px 30px 40px 530px ;" mat-raised-button color="primary"
                    (click)="goNext(progress)">
                    Next
                </button>

            </mat-card>
        </form>
    </app-progress-step>
    <app-progress-step>
        <form [formGroup]='step2form' style="margin:-362px 0px 0px -245px;width:740px">
            <mat-card>
                <h1><b>Select how you would like your product to be serviced</b></h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d121761.9089031678!2d78.4039936!3d17.504665599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1665222369094!5m2!1sen!2sin"
                    width="700" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <mat-card style="width: 50%;" class="mt-3 mb-3">

                    <h4><b>Mail in Repair</b></h4>
                    <p>If you claim is approved we will send you a shipping label,so you can send your defective
                        device for repair.</p>
                </mat-card>
                <mat-card style="width: 50%;margin-left: 356px;margin-top: -148px;">
                    <h4><b>In Store Repair</b></h4>
                    <p>You will be given a choice of which repair facility to take your device.</p>
                </mat-card>
                <mat-card class="mt-5" style="width: 50%;">
                    <h4><b><i class="fa-solid fa-hands-holding-dollar"></i>Reimbursement</b></h4>
                    <p>we'll reimbursement you quickly and completely</p>
                </mat-card>
                <div class="mt-3">
                    <button progressStepPrev mat-raised-button color="accent">Previous</button>
                    <button style="margin:10px 30px 40px 510px ;" progressStepNext mat-raised-button color="primary">
                        Next
                    </button>
                </div>
            </mat-card>
        </form>
    </app-progress-step>
    <app-progress-step>
       
            <mat-card style="margin:-362px 0px 0px -245px;width:740px;">
                <h3><b>Mall in Repair</b></h3>
                <p>
                    Once your device is repaired it will be shipped to the address provided below
                    via <a href="#">Standard Shipping</a> (1 business day)
                </p>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group ">
                    <mat-radio-button class="example-radio-button" *ngFor="let p of shiping" [value]="p">
                        {{p}}
                    </mat-radio-button>
                </mat-radio-group>
                <p class="mt-3 ms-5 mb-0"><b>Tharun kumar reddy</b></p>
                <pre style="margin-top:-30px ;"><h3>
            4/67 c,sree ramula peta,
            yeraaguntla,500072
            kadapa
            tharun123@gmail.com</h3></pre>
                <div class="mt-3">
                    <button progressStepPrev mat-raised-button color="accent">Prev</button>
                    <button style="margin:10px 30px 40px 530px ;" progressStepNext mat-raised-button
                        color="primary">Next</button>
                </div>
            </mat-card>
        

    </app-progress-step>
    <app-progress-step>
        <mat-card style="margin:-362px 0px 0px -245px;width:740px;">
            <h4><b>Claim Details</b></h4>
            <!-- <p> -->
                <section class="claim-details">
                    <h3 class="flex jc-space-between"></h3>
                       
                       <span>Date of incident</span><span style="float:right;">12/10/2021</span>
                   <p class="flex jc-space-between">
                       <span>Reason for cliam</span><span style="float:right;">My product is not functioning properly</span>
                   </p>
                   <p class="flex jc-space-between">
                       <span>Description</span><span style="float:right;">Lorerm ipsum is typed here</span>
                   </p>
                </section>
                <section class="fulfillment-details">
                   <h3><span><b>Device information</b></span><span style="color:rgb(115,177,239);float:right;font-size:15px"></span></h3>
                   <h4>Send to us</h4>
                   <p><span>Delivery address</span><span style="float:right;">2 cherry road,Boston, MA,02148</span></p>
                </section>
                <section class="personal-details">
                   <h3><span><b>Personal information</b></span><span style="color:blue;float:right;"><a href="#" 
                   style="color:rgb(115,177,239)">Edit</a></span></h3>
               
                   <p class="flex jc-space-between"><span>Full Name</span><span style="float:right;">Steve smith</span></p>
               
                   <p class="flex jc-space-between"><span>Address</span><span style="float:right;">123 main street atlanta GA 30031</span></p>
               
                   <p class="flex-jc-space-between"><span>Email address</span><span style="float:right;">steve.smith@gmail.com</span></p>
               
                   <p class="flex-jc-space-between"><span>Contact Number</span><span style="float:right;">077015520226</span></p>
               
                </section>

            <!-- </p> -->
            <div class="mt-3">
                <button progressStepPrev mat-raised-button color="accent">Prev</button>
                <button progressStepNext style="margin:10px 30px 40px 490px ;" routerLink="/checkout" mat-raised-button
                    color="primary">Submit</button>
            </div>
        </mat-card>
    </app-progress-step>
</app-progress>
<app-footer></app-footer>