<mat-toolbar style=" background: linear-gradient(to bottom, white,);border:2px solid violet;">
    <mat-toolbar-row  >
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>recent_actors</mat-icon>
        </button> -->
        <!-- <span ><i>WelCome...,</i></span> -->
        <span><img src="../assets/nav-logo.png" ></span>
       <span class="spacer"></span>
       <a mat-button routerLink="/">HOME</a>
       <a mat-button routerLink="/">Account</a>
       <a mat-button routerLink="/">My Devices</a>
       <a mat-button routerLink="/">Tech Services</a>
       <a mat-button routerLink="/claimprogress">File Claim</a>
    </mat-toolbar-row>
  </mat-toolbar>
  